.icon-download {
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 15.5l-5-5 1.41-1.41L12 12.67l3.59-3.58L17 10.5l-5 5z'/%3E%3Cpath d='M11 4h2v9h-2z'/%3E%3Cpath d='M5 18h14v2H5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
