@import 'root';

:root {
  --jfi-body-color: var(--bs-body-color);
  --jfi-header-color: var(--bs-body-color); // use bootstrap var
  --jfi-header-border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);

  /* layout */
  --jfi-layout-font-family: #{$font-family-base};
  --jfi-layout-padding: 4px;
  --jfi-layout-form-control-spacing-x: 0.5rem;
  --jfi-layout-form-control-spacing-y: 1rem;

  /* colors */
  --jfi-primary-color: #{$primary};

  /* form control */
  --jfi-form-control-background-color: #{$input-bg};
  --jfi-form-control-border-color: #{$input-border-color};
  --jfi-form-control-border-color-focus: #{$input-focus-border-color};
  --jfi-form-control-border-color-error: #{$form-feedback-invalid-color};
  --jfi-form-control-border-width: 1px;
  --jfi-form-control-border-bottom-width: 1px;
  --jfi-form-control-border-left-width: 1px;
  --jfi-form-control-border-right-width: 1px;
  --jfi-form-control-border-top-width: 1px;
  --jfi-form-control-border-radius: #{$border-radius};
  --jfi-form-control-border-style: solid;
  --jfi-form-control-box-shadow: none;
  --jfi-form-control-box-shadow-error: none;
  --jfi-form-control-box-shadow-error-focus: #{0 0 0 0.25rem rgba($form-feedback-invalid-color, 0.25)};
  --jfi-form-control-box-shadow-focus: #{$input-focus-box-shadow};
  --jfi-form-control-color: #{$input-color};
  --jfi-form-control-color-focus: #{input-color-focus};
  --jfi-form-control-font-size: #{$input-font-size};
  --jfi-form-control-font-weight: #{$input-font-weight};
  --jfi-form-control-line-height: #{$input-line-height};
  --jfi-form-control-margin: 0;
  --jfi-form-control-padding: #{$input-padding-y $input-padding-x};

  /* form radio group */
  --jfi-radio-button-color: var(--jfi-primary-color);
  --jfi-radio-button-background-color: transparent;
  --jfi-radio-button-color-selected: white;
  --jfi-radio-button-background-color-selected: #{$dark};
  --jfi-radio-button-border-color: #{$secondary};
  --jfi-radio-button-border-color-selected: #{$dark};
  --jfi-radio-button-padding: #{$input-padding-y $input-padding-x};
  --jfi-radio-button-font-size: #{$input-font-size};
  --jfi-radio-button-color-hover: var(--jfi-primary-color);
  --jfi-radio-button-color-selected-hover: white;
  --jfi-radio-button-background-color-hover: transparent;
  --jfi-radio-button-background-color-selected-hover: var(--jfi-primary-color);
  --jfi-radio-button-border-color-selected-hover: var(--jfi-primary-color);
  --jfi-radio-button-border-color-hover: var(--jfi-primary-color);

  --jfi-radio-button-box-shadow-focus: 0 0 #{$focus-ring-blur} #{$focus-ring-width}em rgba($secondary, $focus-ring-opacity);
  --jfi-radio-button-border-color-focus: #{$form-check-input-focus-border};

  --jfi-radio-button-group-color: var(--jfi-body-color);
  --jfi-radio-button-group-color-hover: var(--jfi-body-color);
  --jfi-radio-button-group-divider: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  --jfi-radio-button-group-background-color: transparent;
  --jfi-radio-button-group-background-color-hover: var(--bs-gray-100);

  /* submit button */
  --jfi-submit-button-color: white;
  --jfi-submit-button-background-color: var(--jfi-primary-color);
  --jfi-submit-button-border-color: var(--jfi-primary-color);
  --jfi-submit-button-padding: #{$input-padding-y $input-padding-x};
  --jfi-submit-button-font-size: #{$input-font-size};
  --jfi-submit-button-border-radius: #{$border-radius};
  --jfi-submit-button-color-hover: white;
  --jfi-submit-button-background-color-hover: var(--jfi-primary-color);
  --jfi-submit-button-border-color-hover: var(--jfi-primary-color);
  --jfi-submit-button-color-focus: white;
  --jfi-submit-button-background-color-focus: var(--jfi-primary-color);
  --jfi-submit-button-border-color-focus: var(--jfi-primary-color);
  --jfi-submit-button-color-active: white;
  --jfi-submit-button-background-color-active: var(--jfi-primary-color);
  --jfi-submit-button-border-color-active: var(--jfi-primary-color);
  --jfi-submit-button-width: auto;
  --jfi-submit-button-box-shadow: none;
  --jfi-submit-button-color-loading: white;
  --jfi-submit-button-background-color-loading: var(--jfi-primary-color);
  --jfi-submit-button-border-color-loading: var(--jfi-primary-color);
  --jfi-submit-button-line-height: 1.5;
  --jfi-submit-button-text-transform: initial;

  /* form label */
  --jfi-form-label-color: #{$body-color};
  --jfi-form-label-font-family: #{$font-family-base};
  --jfi-form-label-font-size: #{$font-size-base};
  --jfi-form-label-font-weight: 400;
  --jfi-form-label-margin: 0 0 #{$form-label-margin-bottom} 0;

  /* validation messages */
  --jfi-error-message-color: var(--bs-form-invalid-color);
  --jfi-error-message-margin: #{$form-feedback-margin-top} 0 0 0;
  --jfi-error-message-font-size: #{$form-feedback-font-size};
}