:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545
}

:root {
  --jfi-body-color: var(--bs-body-color);
  --jfi-header-color: var(--bs-body-color);
  --jfi-header-border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  --jfi-layout-font-family: var(--bs-font-sans-serif);
  --jfi-layout-padding: 4px;
  --jfi-layout-form-control-spacing-x: 0.5rem;
  --jfi-layout-form-control-spacing-y: 1rem;
  --jfi-primary-color: #0d6efd;
  --jfi-form-control-background-color: var(--bs-body-bg);
  --jfi-form-control-border-color: var(--bs-border-color);
  --jfi-form-control-border-color-focus: #86b7fe;
  --jfi-form-control-border-color-error: #dc3545;
  --jfi-form-control-border-width: 1px;
  --jfi-form-control-border-bottom-width: 1px;
  --jfi-form-control-border-left-width: 1px;
  --jfi-form-control-border-right-width: 1px;
  --jfi-form-control-border-top-width: 1px;
  --jfi-form-control-border-radius: 0.375rem;
  --jfi-form-control-border-style: solid;
  --jfi-form-control-box-shadow: none;
  --jfi-form-control-box-shadow-error: none;
  --jfi-form-control-box-shadow-error-focus: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  --jfi-form-control-box-shadow-focus: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --jfi-form-control-color: var(--bs-body-color);
  --jfi-form-control-color-focus: input-color-focus;
  --jfi-form-control-font-size: 1rem;
  --jfi-form-control-font-weight: 400;
  --jfi-form-control-line-height: 1.5;
  --jfi-form-control-margin: 0;
  --jfi-form-control-padding: 0.375rem 0.75rem;
  --jfi-radio-button-color: var(--jfi-primary-color);
  --jfi-radio-button-background-color: transparent;
  --jfi-radio-button-color-selected: white;
  --jfi-radio-button-background-color-selected: var(--jfi-primary-color);
  --jfi-radio-button-border-color: var(--jfi-form-control-border-color);
  --jfi-radio-button-border-color-selected: var(--jfi-primary-color);
  --jfi-radio-button-padding: 0.375rem 0.75rem;
  --jfi-radio-button-font-size: 1rem;
  --jfi-radio-button-color-hover: var(--jfi-primary-color);
  --jfi-radio-button-color-selected-hover: white;
  --jfi-radio-button-background-color-hover: transparent;
  --jfi-radio-button-background-color-selected-hover: var(--jfi-primary-color);
  --jfi-radio-button-border-color-selected-hover: var(--jfi-primary-color);
  --jfi-radio-button-border-color-hover: var(--jfi-primary-color);
  --jfi-radio-button-box-shadow-focus: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --jfi-radio-button-border-color-focus: #86b7fe;
  --jfi-radio-button-group-color: var(--jfi-body-color);
  --jfi-radio-button-group-color-hover: var(--jfi-body-color);
  --jfi-radio-button-group-divider: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  --jfi-radio-button-group-background-color: transparent;
  --jfi-radio-button-group-background-color-hover: var(--bs-gray-100);
  --jfi-radio-input-box-shadow-focus: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --jfi-radio-input-background-color-selected: #212529;
  --jfi-radio-input-border-color: #6c757d;
  --jfi-radio-input-border-color-selected: #212529;
  --jfi-submit-button-color: white;
  --jfi-submit-button-background-color: var(--jfi-primary-color);
  --jfi-submit-button-border-color: var(--jfi-primary-color);
  --jfi-submit-button-padding: 0.375rem 0.75rem;
  --jfi-submit-button-font-size: 1rem;
  --jfi-submit-button-border-radius: 0.375rem;
  --jfi-submit-button-color-hover: white;
  --jfi-submit-button-background-color-hover: var(--jfi-primary-color);
  --jfi-submit-button-border-color-hover: var(--jfi-primary-color);
  --jfi-submit-button-color-focus: white;
  --jfi-submit-button-background-color-focus: var(--jfi-primary-color);
  --jfi-submit-button-border-color-focus: var(--jfi-primary-color);
  --jfi-submit-button-color-active: white;
  --jfi-submit-button-background-color-active: var(--jfi-primary-color);
  --jfi-submit-button-border-color-active: var(--jfi-primary-color);
  --jfi-submit-button-width: auto;
  --jfi-submit-button-box-shadow: none;
  --jfi-submit-button-color-loading: white;
  --jfi-submit-button-background-color-loading: var(--jfi-primary-color);
  --jfi-submit-button-border-color-loading: var(--jfi-primary-color);
  --jfi-submit-button-line-height: 1.5;
  --jfi-submit-button-text-transform: initial;
  --jfi-form-label-color: #212529;
  --jfi-form-label-font-family: var(--bs-font-sans-serif);
  --jfi-form-label-font-size: 1rem;
  --jfi-form-label-font-weight: 400;
  --jfi-form-label-margin: 0 0 0.5rem 0;
  --jfi-error-message-color: var(--bs-form-invalid-color);
  --jfi-error-message-margin: 0.25rem 0 0 0;
  --jfi-error-message-font-size: 0.875em
}

/* Use CSS variables in CSS parts */

::part(label) {
  color: var(--jfi-form-label-color);
  font-family: var(--jfi-form-label-font-family);
  font-weight: var(--jfi-form-label-font-weight);
  font-size: var(--jfi-form-label-font-size);
  margin: var(--jfi-form-label-margin);
}

::part(input) {
  font-family: var(--jfi-layout-font-family);
  border-color: var(--jfi-form-control-border-color);
  border-width: var(--jfi-form-control-border-width);
  border-bottom-width: var(--jfi-form-control-border-bottom-width);
  border-left-width: var(--jfi-form-control-border-left-width);
  border-right-width: var(--jfi-form-control-border-right-width);
  border-top-width: var(--jfi-form-control-border-top-width);
  border-radius: var(--jfi-form-control-border-radius);
  border-style: var(--jfi-form-control-border-style);
  box-shadow: var(--jfi-form-control-box-shadow);
  color: var(--jfi-form-control-color);
  font-size: var(--jfi-form-control-font-size);
  font-weight: var(--jfi-form-control-font-weight);
  line-height: var(--jfi-form-control-line-height);
  margin: var(--jfi-form-control-margin);
  padding: var(--jfi-form-control-padding);
}

::part(input):not(disabled) {
  background-color: var(--jfi-form-control-background-color);
}

::part(input):focus {
  color: var(--jfi-form-control-color-focus);
  background-color: var(--jfi-form-control-background-color);
  border-color: var(--jfi-form-control-border-color-focus);
  box-shadow: var(--jfi-form-control-box-shadow-focus);
}

::part(input-group-input) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

::part(input-group-text) {
  border: var(--jfi-form-control-border-width) var(--jfi-form-control-border-style) var(--jfi-form-control-border-color);
  border-radius: var(--jfi-form-control-border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

::part(input-checkbox) {
  font-family: var(--jfi-layout-font-family);
  border-color: var(--jfi-form-control-border-color);
  border-width: var(--jfi-form-control-border-width);
  border-bottom-width: var(--jfi-form-control-border-bottom-width);
  border-left-width: var(--jfi-form-control-border-left-width);
  border-right-width: var(--jfi-form-control-border-right-width);
  border-top-width: var(--jfi-form-control-border-top-width);
  border-style: var(--jfi-form-control-border-style);
  box-shadow: var(--jfi-form-control-box-shadow);
  color: var(--jfi-form-control-color);
  line-height: var(--jfi-form-control-line-height);
}

::part(input-checkbox):focus {
  color: var(--jfi-form-control-color-focus);
  border-color: var(--jfi-form-control-border-color-focus);
  box-shadow: var(--jfi-form-control-box-shadow-focus);
}

::part(input-checkbox-invalid) {
  border-color: var(--jfi-form-control-border-color-error);
  box-shadow: var(--jfi-form-control-box-shadow-error);
}

::part(input-checkbox-invalid):focus {
  border-color: var(--jfi-form-control-border-color-error);
  box-shadow: var(--jfi-form-control-box-shadow-error-focus);
}

::part(input-invalid) {
  border-color: var(--jfi-form-control-border-color-error);
  box-shadow: var(--jfi-form-control-box-shadow-error);
}

::part(input-invalid):focus {
  border-color: var(--jfi-form-control-border-color-error);
  box-shadow: var(--jfi-form-control-box-shadow-error-focus);
}