<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
  <title>card-form component</title>

  <script type="module" src="../../build/webcomponents.esm.js"></script>
  <script nomodule src="../../build/webcomponents.js"></script>
</head>

<body>
  <justifi-payment-form bank-account="true" card="true"></justifi-payment-form>
  <button type="submit" id="payment-form-submit">Submit</button>
</body>

<style>
  justifi-payment-form::part(label) {
    color: red;
    font-family: sans-serif;
  }

  justifi-payment-form::part(input) {
    font-family: sans-serif;
  }
</style>

<script>
  (function () {
    var paymentForm = document.querySelector('justifi-payment-form');
    var paymentFormSubmit = document.querySelector('#payment-form-submit');

    paymentFormSubmit.addEventListener('click', (event) => {
      console.log('card form tokenize button clicked');
      // All of this information would come from your form instead of being hard coded
      const paymentMethodData = {
        name: 'John Doe',
        metadata: { something: "somevalue" } // optional
      };
      // ACCOUNT_ID is optional, currently required for platforms
      // ACCOUNT_ID is the seller account for which you are tokenizing
      paymentForm.submit({
        clientId: 'CLIENT_ID',
        paymentMethodData: paymentMethodData,
        accountId: 'ACCOUNT_ID'
      })
        .then((data) => {
          // This is where you can make the payment request with the payment method token on your backend
          console.log('justifi-payment-form tokenized: ', data);
        });
    });
  })();
</script>

</html>