<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
  <title>card-form component</title>

  <script type="module" src="../../build/webcomponents.esm.js"></script>
  <script nomodule src="../../build/webcomponents.js"></script>
</head>

<body>
  <justifi-payment-form bank-account="true" card="true" iframe-origin="http://localhost:3003/v2">
  </justifi-payment-form>
</body>

<style>
  :root {
    --jfi-form-label-color: blue;
  }
</style>

<script>
  (function () {
    var paymentForm = document.querySelector('justifi-payment-form');
    var paymentFormSubmit = document.querySelector('#payment-form-submit');
    paymentForm.addEventListener('onSubmit', (event) => console.log('onSubmit event payload', event));
  })();
</script>

</html>