@import "grid";
@import "buttons";

:host {
  @include host-base-styles;
  display: block;
}

justifi-payment-method-form {
  display: block;
  margin-left: calc(var(--jfi-layout-padding) * -1);
  margin-right: calc(var(--jfi-layout-padding) * -1);
}

*::part(label) {
  color: var(--jfi-form-label-color);
  font-family: var(--jfi-form-label-font-family);
  font-weight: var(--jfi-form-label-font-weight);
  font-size: var(--jfi-form-label-font-size);
  margin: var(--jfi-form-label-margin);
}

*::part(input) {
  background-color: var(--jfi-form-control-background-color);
  border-color: var(--jfi-form-control-border-color);
  border-width: var(--jfi-form-control-border-width);
  border-bottom-width: var(--jfi-form-control-border-bottom-width);
  border-left-width: var(--jfi-form-control-border-left-width);
  border-right-width: var(--jfi-form-control-border-right-width);
  border-top-width: var(--jfi-form-control-border-top-width);
  border-radius: var(--jfi-form-control-border-radius);
  border-style: var(--jfi-form-control-border-style);
  box-shadow: var(--jfi-form-control-box-shadow);
  color: var(--jfi-form-control-color);
  font-size: var(--jfi-form-control-font-size);
  font-weight: var(--jfi-form-control-font-weight);
  line-height: var(--jfi-form-control-line-height);
  margin: var(--jfi-form-control-margin);
  padding: var(--jfi-form-control-padding);

  &:focus {
    color: var(--jfi-form-control-color-focus);
    border-color: var(--jfi-form-control-border-color-focus);
    box-shadow: var(--jfi-form-control-box-shadow-focus);
  }
}

*::part(input-invalid) {
  border-color: var(--jfi-form-control-border-color-error);
  box-shadow: var(--jfi-form-control-box-shadow-error);

  &:focus {
    border-color: var(--jfi-form-control-border-color-error);
    box-shadow: var(--jfi-form-control-box-shadow-error-focus);
  }
}

.btn.btn-primary {
  background-color: var(--jfi-btn-primary-bg-color);
  padding: var(--jfi-btn-padding);
  font-family: var(--jfi-btn-font-family);
  font-size: var(--jfi-btn-font-size);
  font-weight: var(--jfi-btn-font-weight);
  line-height: var(--jfi-btn-line-height);
  white-space: var(--jfi-btn-white-space);
  border-width: var(--jfi-btn-border-width);
  border-radius: var(--jfi-btn-border-radius);
  box-shadow: var(--jfi-btn-box-shadow);
  transition: var(--jfi-btn-transition);
  text-transform: var(--jfi-btn-text-transform);

  &[disabled] {
    opacity: --jfi-btn-disabled-opacity;
  }

  &:focus {
    box-shadow: var(--jfi-btn-focus-box-shadow);
  }

  &:active {
    box-shadow: var(--jfi-btn-active-box-shadow);
  }
}