.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
node_modules
.turbo
packages/mockData/mockGrossVolumeReport.js.map
packages/mockData/mockGrossVolumeReport.js
/agent-os/*
.claude/settings.local.json
