/* Start: Example purposes only */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.two-column-layout {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
}

.two-column-layout>.column-preview {
  flex-grow: 1;
  overflow-y: auto;
  width: 50vw;
}

.two-column-layout>.column-output {
  background: white;
  border-left: 1px solid #ccc;
  padding: 20px;
  width: 50%;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

/* End: example purposes only */