<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
  <title>JustiFi Bank Account Form</title>
  <script type="module" src="../../build/webcomponents.esm.js"></script>
  <script nomodule src="../../build/webcomponents.js"></script>
</head>

<body>
  <justifi-business-info
    auth-token="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlM1QlF6ZmFNbnl4UEEtRGhWRVFVYiJ9.eyJodHRwczovL2FwaS5qdXN0aWZpLmFpL3YxL21ldGFkYXRhIjp7ImFjY291bnRfaWQiOiJhY2NfNzVqNXlHeFFVZjY5Qjl2VDJoRFVuOSIsImFjY291bnRfdHlwZSI6InRlc3QifSwiaXNzIjoiaHR0cHM6Ly9hdXRoLmp1c3RpZmktc3RhZ2luZy5jb20vIiwic3ViIjoiZW9oVlFsbHEwbUp5MzRUMTRkc1pKbEhqWEtyN3JLeUhAY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vYXBpLmp1c3RpZmkuYWkvdjEiLCJpYXQiOjE2ODU5OTQxODAsImV4cCI6MTY4NjA4MDU4MCwiYXpwIjoiZW9oVlFsbHEwbUp5MzRUMTRkc1pKbEhqWEtyN3JLeUgiLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6W119.kxYHFxoM05uC7EcHyGfFtSEhVXBZaLAxZmLcaanU0t-pv9AgN5uIKI36OFq1IwrOs4guqthgErmcIfbzPMHVNmOoyCsEgzz_vjIHNdB2hAnGMgaqLkTV5Ey6EtpIQ8QrEImiCPpbbCJQ8yI5r5bSe-QDf8UPUcwRA_6nuauTRiE71yhX45CjUcI5PQhnG-FuK3T29_1YqSAdhEt09u34HWMkB6pQOEKG0Pt5uIsSCcgv8A7SM0tsT4tAM68SUu9VPSJJKd5lXBszDRPfE6g1kDfPT2XcHV4eLjcHgdB6dmJu8d4Wkq8Py4PeoKpZhuNCAI9DjxYDMFTgEloVC5NYjQ"
    business-id="biz_2aPysIypVhATNDIzzxOkb4"></justifi-business-info>
  <script>
    (() => {
      const businessInfoElement = document.querySelector('justifi-business-info');
      businessInfoElement.addEventListener('submitted', async (data) => {
        console.log(data);
      });
    })()
  </script>
</body>

</html>