@import 'reboot';
@import 'forms';
@import 'badge';

:host {
  @include host-base-styles;
  display: block;
}

input[type='file'][disabled] {
  color: var(--jfi-form-control-disabled-color);
  background-color: var(--jfi-form-control-disabled-background-color);
  opacity: 0.5;
  cursor: not-allowed;
}

.input-group-text {
  background-color: var(--jfi-form-control-background-color);
  border-color: var(--jfi-form-control-border-color);
  color: var(--jfi-form-control-color);
}

.file {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
