@import 'reboot';
@import 'grid';
@import 'buttons';
@import 'spinners';
@import 'list-group';
@import './jfi-header';

:host {
  @include host-base-styles;
  display: block;
}

justifi-payment-method-form {
  display: block;
  margin-left: calc(var(--jfi-layout-padding) * -1);
  margin-right: calc(var(--jfi-layout-padding) * -1);
}

.jfi-checkout-core {
  color: var(--jfi-body-color);
}

*::part(label) {
  color: var(--jfi-form-label-color);
  font-family: var(--jfi-form-label-font-family);
  font-weight: var(--jfi-form-label-font-weight);
  font-size: var(--jfi-form-label-font-size);
  margin: var(--jfi-form-label-margin);
}

*::part(input) {
  font-family: var(--jfi-layout-font-family);
  background-color: var(--jfi-form-control-background-color);
  border-color: var(--jfi-form-control-border-color);
  border-width: var(--jfi-form-control-border-width);
  border-bottom-width: var(--jfi-form-control-border-bottom-width);
  border-left-width: var(--jfi-form-control-border-left-width);
  border-right-width: var(--jfi-form-control-border-right-width);
  border-top-width: var(--jfi-form-control-border-top-width);
  border-radius: var(--jfi-form-control-border-radius);
  border-style: var(--jfi-form-control-border-style);
  box-shadow: var(--jfi-form-control-box-shadow);
  color: var(--jfi-form-control-color);
  font-size: var(--jfi-form-control-font-size);
  font-weight: var(--jfi-form-control-font-weight);
  line-height: var(--jfi-form-control-line-height);
  margin: var(--jfi-form-control-margin);
  padding: var(--jfi-form-control-padding);

  &:focus {
    color: var(--jfi-form-control-color-focus);
    border-color: var(--jfi-form-control-border-color-focus);
    box-shadow: var(--jfi-form-control-box-shadow-focus);
  }
}

*::part(input-invalid) {
  border-color: var(--jfi-form-control-border-color-error);
  box-shadow: var(--jfi-form-control-box-shadow-error);

  &:focus {
    border-color: var(--jfi-form-control-border-color-error);
    box-shadow: var(--jfi-form-control-box-shadow-error-focus);
  }
}

*::part(invalid-feedback) {
  color: var(--jfi-error-message-color);
  font-size: var(--jfi-error-message-font-size);
  margin: var(--jfi-error-message-margin);
  line-height: normal;
}

.jfi-submit-button {
  font-family: var(--jfi-layout-font-family);
  color: var(--jfi-submit-button-color);
  background-color: var(--jfi-submit-button-background-color);
  border-color: var(--jfi-submit-button-border-color);
  padding: var(--jfi-submit-button-padding);
  font-size: var(--jfi-submit-button-font-size);
  border-radius: var(--jfi-submit-button-border-radius);
  width: var(--jfi-submit-button-width);
  box-shadow: var(--jfi-submit-button-box-shadow);
  line-height: var(--jfi-submit-button-line-height);
  text-transform: var(--jfi-submit-button-text-transform);
}

.jfi-submit-button:hover {
  color: var(--jfi-submit-button-color-hover);
  background-color: var(--jfi-submit-button-background-color-hover);
  border-color: var(--jfi-submit-button-border-color-hover);
}

.jfi-submit-button:focus {
  color: var(--jfi-submit-button-color-focus);
  background-color: var(--jfi-submit-button-background-color-focus);
  border-color: var(--jfi-submit-button-border-color-focus);
}

// Extra selector for specificity
.btn.jfi-submit-button:active {
  color: var(--jfi-submit-button-color-active);
  background-color: var(--jfi-submit-button-background-color-active);
  border-color: var(--jfi-submit-button-border-color-active);
}

.btn.jfi-submit-button-loading {
  min-width: 75px;
  color: var(--jfi-submit-button-color-loading);
  background-color: var(--jfi-submit-button-background-color-loading);
  border-color: var(--jfi-submit-button-border-color-loading);
}

.btn.jfi-submit-button-loading .spinner-border {
  border-top-color: var(--jfi-submit-button-color-loading);
  border-bottom-color: var(--jfi-submit-button-color-loading);
  border-left-color: var(--jfi-submit-button-color-loading);
}