:host {
  display: block;
}

.radio-list-item {
  cursor: pointer;
  color: var(--jfi-radio-button-group-color);
  background-color: var(--jfi-radio-button-group-background-color);
  border-bottom: var(--jfi-radio-button-group-divider);
}

.radio-list-item:hover {
  color: var(--jfi-radio-button-group-color-hover);
  background-color: var(--jfi-radio-button-group-background-color-hover);
}
