@import 'forms';
@import 'buttons';
@import 'bootstrap-utilities';
@import './jfi-radio-button';
@import './jfi-checkbox';

:host {
  @include host-base-styles;
  display: block;
}

.payment-method-header {
  cursor: pointer;
  color: var(--jfi-radio-button-group-color);
  background-color: var(--jfi-radio-button-group-background-color);
  border-bottom: var(--jfi-radio-button-group-divider);

  &:hover {
    color: var(--jfi-radio-button-group-color-hover);
    background-color: var(--jfi-radio-button-group-background-color-hover);
  }
}