@import "root";

:root {
  // layout
  --jfi-layout-padding: 4px;
  --jfi-layout-form-control-spacing-x: .5rem;
  --jfi-layout-form-control-spacing-y: 1rem;

  // form control
  --jfi-form-control-background-color: #{$input-bg};
  --jfi-form-control-border-color: #{$input-border-color};
  --jfi-form-control-border-color-focus: #{$input-focus-border-color};
  --jfi-form-control-border-color-error: #{$form-feedback-invalid-color};
  --jfi-form-control-border-width: 1px;
  --jfi-form-control-border-bottom-width: 1px;
  --jfi-form-control-border-left-width: 1px;
  --jfi-form-control-border-right-width: 1px;
  --jfi-form-control-border-top-width: 1px;
  --jfi-form-control-border-radius: #{$border-radius};
  --jfi-form-control-border-style: solid;
  --jfi-form-control-box-shadow: none;
  --jfi-form-control-box-shadow-error: none;
  --jfi-form-control-box-shadow-error-focus: #{0 0 0 0.25rem rgba($form-feedback-invalid-color, 0.25)};
  --jfi-form-control-box-shadow-focus: #{$input-focus-box-shadow};
  --jfi-form-control-color: #{$input-color};
  --jfi-form-control-color-focus: #{input-color-focus};
  --jfi-form-control-font-size: #{$input-font-size};
  --jfi-form-control-font-weight: #{$input-font-weight};
  --jfi-form-control-line-height: #{$input-line-height};
  --jfi-form-control-margin: 0;
  --jfi-form-control-padding: #{$input-padding-y $input-padding-x};

  // form label
  --jfi-form-label-color: #{$body-color};
  --jfi-form-label-font-family: #{$font-family-base};
  --jfi-form-label-font-size: #{$font-size-base};
  --jfi-form-label-font-weight: 400;
  --jfi-form-label-margin: 0 0 #{$form-label-margin-bottom} 0;

  // validation messages
  --jfi-error-message-color: #{$form-feedback-invalid-color};
  --jfi-error-message-margin: #{$form-feedback-margin-top} 0 0 0;
  --jfi-error-message-font-size: #{$form-feedback-font-size};
}