@mixin host-base-styles {
  display: block;
  font-family: $font-family-sans-serif;
  @include font-size($font-size-base);
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
}