@import 'reboot';
@import 'forms';

:host {
  @include host-base-styles;
  display: block;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number'][disabled] {
  color: var(--jfi-form-control-disabled-color);
  background-color: var(--jfi-form-control-disabled-background-color);
  opacity: 0.5;
  cursor: not-allowed;
}

input[type='text'][disabled] {
  color: var(--jfi-form-control-disabled-color);
  background-color: var(--jfi-form-control-disabled-background-color);
  opacity: 0.5;
  cursor: not-allowed;
}
