@import 'reboot';
@import 'forms';

:host {
  @include host-base-styles;
  display: block;
}

// form-control-number.scss

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number'][disabled] {
  color: #495057;
  background-color: #e9ecef;
  opacity: 0.5;
  cursor: not-allowed;
}

input[type='text'][disabled] {
  color: #495057;
  background-color: #e9ecef;
  opacity: 0.5;
  cursor: not-allowed;
}
