@import 'reboot';
@import 'forms';

:host {
  @include host-base-styles;
  display: block;
}

input[type='text'][disabled] {
  color: #495057;
  background-color: #e9ecef;
  opacity: 0.5;
  cursor: not-allowed;
}
