:host {
  display: block;
}

justifi-payment-method-form {
  display: block;
  margin-left: calc(var(--jfi-layout-padding) * -1);
  margin-right: calc(var(--jfi-layout-padding) * -1);
}

justifi-payment-method-form iframe {
  border: none;
  width: 100%;
}

iframe {
  width: 1px;
  min-width: 100%;
}
