name: Publish packages
on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC token request
      contents: read # Required to read repository contents
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8.7.5
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Create .env file from secrets
        shell: bash
        run: |
          echo "IFRAME_ORIGIN=${{ secrets.IFRAME_ORIGIN }}" >> .env
          echo "PROXY_API_ORIGIN=${{ secrets.PROXY_API_ORIGIN }}" >> .env
          echo "API_ORIGIN=${{ secrets.API_ORIGIN }}" >> .env

      - name: Build all packages
        run: pnpm build

      - name: Publish to NPM Registry
        run: pnpm release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.JUSTIFI_SUPPORT_NPM_TOKEN }}
